@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --poppins: "Poppins", sans-serif;
}

@theme inline {
  --breakpoint-smaller: 20rem;
  --breakpoint-small: 37.4375rem;
  --breakpoint-ret: 37.5rem;
  --breakpoint-pot: 56.25rem;
  --breakpoint-det: 75rem;
  --breakpoint-lal: 112.5rem;
}

/* edit scroll page */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  font-family: var(--poppins);
}

.offPicker {
  transform: translateY(-200%);
}

.offAnPicker {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
  animation: hidePicker 0.5s ease-in-out forwards;
}

.onPicker {
  transform: translateY(-200%);
  transition: all 0.5s ease-in-out;
  animation: showPicker 0.5s ease-in-out forwards;
}

.addTextNone {
  transform: translateY(200%);
}

.addTextOn {
  transform: translateY(200%);
  transition: all 0.5s ease-in-out;
  animation: showText 0.2s ease-in-out forwards;
}
.addTextOff {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
  animation: hideText 0.5s ease-in-out forwards;
}

@keyframes hideText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes showText {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showPicker {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hidePicker {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}
